body,html{
    margin: 0;
    padding: 0;
}
div{
    position: relative;
}
.sto-__PLACEHOLDER__-container div:after{
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    content: attr(data-width);
    width: 90%;
    text-align: center;
    left: 5%;
    border-bottom: 1px solid black;
}
