<div id="sto-format" class="sto-__PLACEHOLDER__-container">
    <div class="sto-__PLACEHOLDER__-format">
        <div class="sto-__PLACEHOLDER__-logo"></div>
        <div class="sto-__PLACEHOLDER__-design_left"></div>
        <div class="sto-__PLACEHOLDER__-carrousel">
            <div class="sto-arrow-left sto-__PLACEHOLDER__-mini_product sto-__PLACEHOLDER__-product"></div>
            <div class="sto-__PLACEHOLDER__-main_product">
                <div class="sto-arrow-left sto-__PLACEHOLDER__-arrow-left sto-__PLACEHOLDER__-arrows"></div>
                <div class="sto-__PLACEHOLDER__-product sto-product-center"></div>
                <div class="sto-product-container"></div>
                <div class="sto-arrow-right sto-__PLACEHOLDER__-arrow-right sto-__PLACEHOLDER__-arrows"></div>
            </div>
            <div class="sto-arrow-right sto-__PLACEHOLDER__-product sto-__PLACEHOLDER__-mini_product"></div>
            <div class="sto-__PLACEHOLDER__-buttons"></div>
        </div>
        <div class="sto-__PLACEHOLDER__-design_right"></div>
    </div>
    <div class="sto-__PLACEHOLDER__-close"></div>
</div>
