/******* TEMPLATE CSS ******/

.sto-__PLACEHOLDER__-container * {
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.sto-__PLACEHOLDER__-container *:focus {
  outline: none !important;
}

.sto-__PLACEHOLDER__-container {
  text-align: center;
  overflow: hidden;
  height: 120px;
  width: 100%;
  /* margin: 0 auto; */
  background-position: center center;
  z-index: 2;
  position: relative;
  border: 1px solid __BORDER_CONTAINER_COLOR__;
  margin-bottom: 10px;
  box-sizing: border-box;
}

body.tablet .sto-__PLACEHOLDER__-container {
  width: calc(97.3% + 1vw);
}

.sto-__PLACEHOLDER__-container[format="IM"] {
  position: fixed;
  width: 100%;
  min-width: 960px;
  border: 0;
  left: 0;
  bottom: -120px;
  right: 0;
  z-index: 201;
  top: initial;
  box-shadow: 0px 7px 34px -4px #000;
}

.sto-__PLACEHOLDER__-container[format="CH"] {
  margin: 10px auto;
  width: 100%;
}

.sto-__PLACEHOLDER__-container[format="IM"][data-state="close"] {
  bottom: -120px;
}

.sto-__PLACEHOLDER__-container[format="IM"][data-state="open"] {
  bottom: -2px;
}

.sto-__PLACEHOLDER__-container[data-type="2"] {
  position: absolute;
  z-index: 2;
  top: 299px;
  left: 0;
  overflow: hidden;
  height: 120px;
  width: 100%;
}

.sto-__PLACEHOLDER__-close {
  background-image: __CLOSE_BTN_IMG__;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 27px;
  width: 27px;
  display: none;
}

.sto-__PLACEHOLDER__-close:hover {
  background-image: __CLOSE_BTN_HOVER_IMG__;
}

.sto-__PLACEHOLDER__-container[format="IM"] .sto-__PLACEHOLDER__-close {
  display: inline-block;
}

.sto-__PLACEHOLDER__-format {
  position: relative;
  text-align: center;
  height: 120px;
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#sto-format[data-size="3"] .sto-__PLACEHOLDER__-format,
#sto-format[data-size="1"] .sto-__PLACEHOLDER__-format {
  display: block !important;
}

.sto-__PLACEHOLDER__-container[format="IM"] .sto-__PLACEHOLDER__-format {
  max-width: 1170px;
}

.sto-__PLACEHOLDER__-container .sto-__PLACEHOLDER__-format[data-type="1"] {
  text-align: center;
  overflow: hidden;
  height: 120px;
  width: 100%;
  background-position: center center;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}

.sto-__PLACEHOLDER__-format>div,
.sto-__PLACEHOLDER__-main_product {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 120px;
  position: relative;
  vertical-align: middle;
}

.sto-__PLACEHOLDER__-carrousel {
  width: 384px;
  padding: 0 130px;
  box-sizing: initial;
}

.sto-__PLACEHOLDER__-container[data-count="1"] .sto-__PLACEHOLDER__-carrousel,
.sto-__PLACEHOLDER__-container[data-count="2"] .sto-__PLACEHOLDER__-carrousel,
.sto-__PLACEHOLDER__-container[data-count="3"] .sto-__PLACEHOLDER__-carrousel {
  width: 384px;
  padding: 0;
  padding-left: 130px;
}

.sto-__PLACEHOLDER__-container[data-count="3"][data-link="1"] .sto-__PLACEHOLDER__-carrousel {
  width: 576px;
  padding-left: 0px;
}

.sto-__PLACEHOLDER__-button {
  /*width: __BUTTON_WIDTH__px;*/
  font-family: 'Roboto', sans-serif;
  /*border: 1px solid #fff;*/
  max-width: 108px;
  width: 108px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 11.5px;
  text-align: center;
  /*border-radius: 4px;*/
  position: absolute;
  z-index: 1;
  outline: none;
  border: 0;

  background-size: 100% 100% !important;
}

.sto-__PLACEHOLDER__-buttons[data-btn="small"] .sto-__PLACEHOLDER__-button {
  font-size: 10px;
}

.sto-__PLACEHOLDER__-buttons[data-btn="medium"] .sto-__PLACEHOLDER__-button {
  font-size: 12px;
}

.sto-__PLACEHOLDER__-buttons[data-btn="big"] .sto-__PLACEHOLDER__-button {
  font-size: 14px;
}

.sto-__PLACEHOLDER__-button span,
.sto-__PLACEHOLDER__-link span {
  line-height: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 0 5px;
  box-sizing: border-box;
}

.sto-__PLACEHOLDER__-link span {
  text-decoration: underline;
}

.sto-__PLACEHOLDER__-button:focus {
  outline: none;
}

.sto-__PLACEHOLDER__-button:first-child {
  top: 10px;
  right: 520px;
}

.sto-__PLACEHOLDER__-button:nth-child(2) {
  top: 45px;
  right: 520px;
}

.sto-__PLACEHOLDER__-button:nth-child(3) {
  bottom: 5px;
  right: 520px;
}

.sto-__PLACEHOLDER__-button:nth-child(4) {
  top: 10px;
  left: 520px;
}

.sto-__PLACEHOLDER__-button:nth-child(5) {
  top: 45px;
  left: 520px;
}

.sto-__PLACEHOLDER__-button[data-ind="9"],
.sto-__PLACEHOLDER__-button:nth-child(6) {
  bottom: 5px;
  left: 520px;
}

.sto-__PLACEHOLDER__-container[data-count="1"] .sto-__PLACEHOLDER__-button:first-child,
.sto-__PLACEHOLDER__-container[data-count="2"] .sto-__PLACEHOLDER__-button:first-child,
.sto-__PLACEHOLDER__-container[data-count="3"] .sto-__PLACEHOLDER__-button:first-child,
.sto-__PLACEHOLDER__-container[data-count="1"] .sto-__PLACEHOLDER__-button:nth-child(2),
.sto-__PLACEHOLDER__-container[data-count="2"] .sto-__PLACEHOLDER__-button:nth-child(2),
.sto-__PLACEHOLDER__-container[data-count="3"] .sto-__PLACEHOLDER__-button:nth-child(2),
.sto-__PLACEHOLDER__-container[data-count="1"] .sto-__PLACEHOLDER__-button:nth-child(3),
.sto-__PLACEHOLDER__-container[data-count="2"] .sto-__PLACEHOLDER__-button:nth-child(3),
.sto-__PLACEHOLDER__-container[data-count="3"] .sto-__PLACEHOLDER__-button:nth-child(3) {
  right: 390px;
}

.sto-__PLACEHOLDER__-container[data-count="1"] .sto-__PLACEHOLDER__-button:first-child,
.sto-__PLACEHOLDER__-container[data-count="1"] .sto-__PLACEHOLDER__-button:nth-child(2),
.sto-__PLACEHOLDER__-container[data-count="1"] .sto-__PLACEHOLDER__-button:nth-child(3),
.sto-__PLACEHOLDER__-container[data-count="1"] .sto-__PLACEHOLDER__-button:nth-child(4),
.sto-__PLACEHOLDER__-container[data-count="1"] .sto-__PLACEHOLDER__-button:nth-child(5),
.sto-__PLACEHOLDER__-container[data-count="2"] .sto-__PLACEHOLDER__-button:nth-child(3),
.sto-__PLACEHOLDER__-container[data-count="2"] .sto-__PLACEHOLDER__-button:nth-child(4),
.sto-__PLACEHOLDER__-container[data-count="2"] .sto-__PLACEHOLDER__-button:nth-child(5),
.sto-__PLACEHOLDER__-container[data-count="3"] .sto-__PLACEHOLDER__-button:nth-child(4),
.sto-__PLACEHOLDER__-container[data-count="3"] .sto-__PLACEHOLDER__-button:nth-child(5),
.sto-__PLACEHOLDER__-container[data-count="4"] .sto-__PLACEHOLDER__-button:nth-child(5) {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-count="3"][data-link="1"] .sto-__PLACEHOLDER__-button:first-child,
.sto-__PLACEHOLDER__-container[data-count="3"][data-link="1"] .sto-__PLACEHOLDER__-button:nth-child(2),
.sto-__PLACEHOLDER__-container[data-count="3"][data-link="1"] .sto-__PLACEHOLDER__-button:nth-child(3) {
  right: 465px;
}

.sto-__PLACEHOLDER__-container[data-count="2"][data-link="true"] .sto-__PLACEHOLDER__-button {
  display: none;
}

.sto-__PLACEHOLDER__-link {
  font-family: "Roboto", sans-serif;
  position: absolute;
  height: 30px;
  line-height: 30px;
  bottom: 7px;
  left: 526px;
  font-size: 13px;
  color: __REDIRECT_TXT_COLOR__;
  background-image: __DL_IMG__;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 11px;
  text-decoration: underline;
  cursor: pointer;
  height: 30px;
  margin-bottom: 5px;
}

.sto-__PLACEHOLDER__-link[data-type="video"],
.sto-__PLACEHOLDER__-link[data-type="ajout"],
.sto-__PLACEHOLDER__-link[data-type="redirect"],
.sto-__PLACEHOLDER__-link[data-type="pdf"] {
  width: 108px;
  padding-left: 0;
  text-align: center;
  left: 520px;
}

.sto-__PLACEHOLDER__-link[data-ico="dl"] span {
  width: calc(100% - 10px);
  right: 0;
  left: auto;
}

.sto-__PLACEHOLDER__-link[data-type="legal"] {
  background-image: none;
  width: 108px;
  padding-left: 0;
  text-align: center;
  font-size: 9px;
  text-decoration: none;
  left: 520px;
  cursor: default;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="4"] .sto-__PLACEHOLDER__-button:nth-child(6),
.sto-__PLACEHOLDER__-container[data-size="2"][data-count="4"] .sto-__PLACEHOLDER__-link {
  left: auto;
  right: 365px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="6"] .sto-__PLACEHOLDER__-button:nth-child(6),
.sto-__PLACEHOLDER__-container[data-size="2"][data-count="5"] .sto-__PLACEHOLDER__-link[data-type="ajout"],
.sto-__PLACEHOLDER__-container[data-size="2"][data-count="6"] .sto-__PLACEHOLDER__-link[data-type="ajout"],
.sto-__PLACEHOLDER__-container[data-size="2"][data-count="5"] .sto-__PLACEHOLDER__-link[data-type="legal"],
.sto-__PLACEHOLDER__-container[data-size="2"][data-count="6"] .sto-__PLACEHOLDER__-link[data-type="legal"] {
  bottom: 5px;
  left: auto !important;
  right: 365px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="6"][data-link="false"] .sto-__PLACEHOLDER__-button:nth-child(6){
  left: auto!important;
  right: 405px!important;
}

.sto-__PLACEHOLDER__-main_product .sto-product-center {
  cursor: pointer;
  width: 120px;
  height: 120px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  left: 25px;
}

.sto-__PLACEHOLDER__-logo {
  width: 150px;
  min-width: 150px;
}

.sto-__PLACEHOLDER__-design_left {
  width: 138px;
  float: left;
  min-width: 138px;
}

.sto-__PLACEHOLDER__-main_product {
  width: 384px;
  z-index: 2;
}

.sto-__PLACEHOLDER__-design_right {
  width: 192px;
  float: right;
  /*background-size: contain;*/
}

.sto-__PLACEHOLDER__-arrows {
  position: absolute;
  top: 47px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  left: -15px;
  z-index: 10;
}

.sto-arrow-right.sto-__PLACEHOLDER__-arrows {
  left: 367px;
  transform: rotate(180deg);
  display: block;
}

/******* DATA SIZE 1 ********/

.sto-__PLACEHOLDER__-container[data-size="1"] .sto-__PLACEHOLDER__-link {
  display: none;
}

.sto-__PLACEHOLDER__-container[data-size="1"] .sto-__PLACEHOLDER__-design_left, .sto-__PLACEHOLDER__-container[data-size="1"] .sto-__PLACEHOLDER__-design_right {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-size="1"] div.sto-__PLACEHOLDER__-logo {
  float: left;
}

.sto-__PLACEHOLDER__-container[data-size="1"][data-count="1"] .sto-__PLACEHOLDER__-arrows {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-size="1"] .sto-__PLACEHOLDER__-carrousel {
  width: 384px;
  padding: 0 !important;
}

.sto-__PLACEHOLDER__-container[data-size="1"] .sto-__PLACEHOLDER__-button {
  display: none !important;
}

/******* DATA SIZE 2 ********/

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-logo {
  width: 150px;
  float: left;
}

.sto-__PLACEHOLDER__-main_product[data-size="2"] {
  width: 367px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="6"] .sto-__PLACEHOLDER__-button:nth-child(6),
.sto-__PLACEHOLDER__-container[data-size="2"][data-count="5"] .sto-__PLACEHOLDER__-link,
.sto-__PLACEHOLDER__-container[data-size="2"][data-count="6"] .sto-__PLACEHOLDER__-link {
  bottom: 5px;
  left: -110px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="1"] .sto-__PLACEHOLDER__-link {
  display: none;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="4"] .sto-__PLACEHOLDER__-link {
  bottom: 30px;
  left: -130px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="3"] .sto-__PLACEHOLDER__-link {
  bottom: 8px;
  left: -205px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="2"] .sto-__PLACEHOLDER__-link {
  bottom: 16px;
  left: -183px;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-design_left {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="1"] .sto-__PLACEHOLDER__-design_left {
  display: inline-block !important;
  width: 192px;
  background-image: __DESIGN_LEFT_IMG2__;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-design_right {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-format="theme"] .sto-__PLACEHOLDER__-design_right {
  display: inline-block !important;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-design_right .sto-__PLACEHOLDER__-recipe {
  bottom: 2px;
}

/*.sto-__PLACEHOLDER__-container[data-size="2"][data-count="1"] .sto-__PLACEHOLDER__-design_right {
  display: inline-block !important;
  background-image: __DESIGN_LEFT_IMG2__;
}*/

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-arrows {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="1"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="2"][data-count="2"] .sto-__PLACEHOLDER__-design_right {
  display: none!important;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-carrousel {
  width: 384px !important;
  float: right;
  padding: 0 !important;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-main_product {
  background-image: __MAINPROD_SMALL_IMG__;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-button {
  /*width: 80px !important;*/
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="1"] .sto-__PLACEHOLDER__-button {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-button:first-child {
  top: 10px;
  right: 525px;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-button:nth-child(2) {
  top: 45px;
  right: 525px;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-button:nth-child(3) {
  bottom: 5px;
  right: 525px;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-button:nth-child(4) {
  top: 10px;
  left: auto;
  right: 405px;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-button:nth-child(5) {
  top: 45px;
  left: auto;
  right: 405px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="2"] .sto-__PLACEHOLDER__-button:first-child {
  top: 25px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="2"] .sto-__PLACEHOLDER__-button:nth-child(2) {
  top: 70px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="4"] .sto-__PLACEHOLDER__-button:first-child {
  top: 25px;
  right: 525px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="4"] .sto-__PLACEHOLDER__-button:nth-child(2) {
  top: 60px;
  right: 525px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="4"] .sto-__PLACEHOLDER__-button:nth-child(3) {
  top: 25px;
  left: auto;
  right: 405px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="4"] .sto-__PLACEHOLDER__-button:nth-child(4) {
  top: 60px;
  left: auto;
  right: 405px;
}

.sto-__PLACEHOLDER__-container[data-size="2"][data-count="2"] .sto-__PLACEHOLDER__-button,
.sto-__PLACEHOLDER__-container[data-size="2"][data-count="3"] .sto-__PLACEHOLDER__-button {
  right: 464px;
  width: 120px !important;
}

.sto-__PLACEHOLDER__-container[data-size="2"] .sto-__PLACEHOLDER__-link[data-type="legal"] {
  bottom: 5px;
  height: 10px;
  line-height: 15px;
  width: 250px;
  left: -250px;
}

/******* DATA SIZE 3 ********/

.sto-__PLACEHOLDER__-container[data-size="3"][data-count="1"] .sto-__PLACEHOLDER__-link {
  display: none;
}

.sto-__PLACEHOLDER__-container[data-size="3"][data-count="3"] .sto-__PLACEHOLDER__-link {
  bottom: 8px;
  left: 15px;
}

.sto-__PLACEHOLDER__-container[data-size="3"][data-count="2"] .sto-__PLACEHOLDER__-link {
  left: 16px;
}

.sto-__PLACEHOLDER__-container[data-size="3"] .sto-__PLACEHOLDER__-logo {
  float: left;
}

.sto-__PLACEHOLDER__-container[data-size="3"] .sto-__PLACEHOLDER__-design_left {
  display: none;
}

.sto-__PLACEHOLDER__-container[data-size="3"][data-count="1"] .sto-__PLACEHOLDER__-design_left {
  display: inline-block;
  background-image: __DESIGN_LEFT_IMG__;
}

.sto-__PLACEHOLDER__-container[data-size="3"][data-count="1"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="3"][data-count="2"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="3"][data-count="3"] .sto-__PLACEHOLDER__-design_right {
  background-image: __DESIGN_RIGHT_IMG__;
  float: right;
  width: 192px;
}

.sto-__PLACEHOLDER__-container[data-size="3"] .sto-__PLACEHOLDER__-arrows {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-size="3"][data-count="1"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="3"][data-count="2"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="3"][data-count="3"] .sto-__PLACEHOLDER__-design_right {
  display: inline-block !important;
}

.sto-__PLACEHOLDER__-container[data-size="3"][data-count="4"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="3"][data-count="5"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="3"][data-count="6"] .sto-__PLACEHOLDER__-design_right {
  display: none !important;
  background-image: __DESIGN_RIGHT_IMG__;
}

.sto-__PLACEHOLDER__-container[data-size="3"][data-count="1"] .sto-__PLACEHOLDER__-carrousel {
  padding-left: 0px;
}

.sto-__PLACEHOLDER__-container[data-size="3"][data-count="1"] .sto-__PLACEHOLDER__-button {
  display: none !important;
}

/******* DATA SIZE 4 ********/

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="1"] .sto-__PLACEHOLDER__-link {
  display: none;
}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="3"] .sto-__PLACEHOLDER__-link {
  bottom: 8px;
  left: 16px;
}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="2"] .sto-__PLACEHOLDER__-link {
  left: 16px;
}

.sto-__PLACEHOLDER__-container[data-size="4"] .sto-__PLACEHOLDER__-design_left {
  background-image: __DESIGN_LEFT_IMG__;
  display: none;
}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="1"] .sto-__PLACEHOLDER__-design_left {
  float: left;
  display: inline-block !important;
}

.sto-__PLACEHOLDER__-container[data-size="4"] .sto-__PLACEHOLDER__-arrows {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="1"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="4"][data-count="2"] .sto-__PLACEHOLDER__-design_right {
  display: inline-block !important;
}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="1"] .sto-__PLACEHOLDER__-carrousel {
  width: 384px !important;
  padding: 0 !important;
}

.sto-__PLACEHOLDER__-container[data-size="4"] div.sto-__PLACEHOLDER__-logo {
  float: left;
}

.sto-__PLACEHOLDER__-container[data-size="4"] div.sto-__PLACEHOLDER__-design_left {}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="6"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="4"][data-count="5"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="4"][data-count="4"] .sto-__PLACEHOLDER__-design_right {
  background-image: __DESIGN_RIGHT_IMG__;
  float: right;
}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="2"] .sto-__PLACEHOLDER__-button[data-ind="0"] {
  top: 25px;
}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="1"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="4"][data-count="2"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="4"][data-count="3"] .sto-__PLACEHOLDER__-design_right {
  background-image: __DESIGN_RIGHT_IMG__;
  float: right;
  width: 192px;
}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="3"] .sto-__PLACEHOLDER__-link {
  left: 25px;
}

.sto-__PLACEHOLDER__-container[data-size="4"] div.sto-__PLACEHOLDER__-carrousel {}

.sto-__PLACEHOLDER__-container[data-size="4"][data-count="1"] .sto-__PLACEHOLDER__-button {
  display: none !important;
}

/******* DATA SIZE 5 ********/

.sto-__PLACEHOLDER__-container[data-size="5"][data-count="3"] .sto-__PLACEHOLDER__-link,
.sto-__PLACEHOLDER__-container[data-size="5"][data-count="2"] .sto-__PLACEHOLDER__-link,
.sto-__PLACEHOLDER__-container[data-size="5"][data-count="1"] .sto-__PLACEHOLDER__-link {
  bottom: 11px;
  left: 16px;
}

.sto-__PLACEHOLDER__-container[data-size="5"] .sto-__PLACEHOLDER__-format {}

.sto-__PLACEHOLDER__-container[data-size="5"] .sto-__PLACEHOLDER__-arrows {
  display: none !important;
}

.sto-__PLACEHOLDER__-container[data-size="5"][data-count="1"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="5"][data-count="2"] .sto-__PLACEHOLDER__-design_right {
  display: inline-block !important;
}

.sto-__PLACEHOLDER__-container[data-size="5"] div.sto-__PLACEHOLDER__-logo {
  float: left;
}

.sto-__PLACEHOLDER__-container[data-size="5"] .sto-__PLACEHOLDER__-design_left {
  background-image: __DESIGN_LEFT_IMG__;
  /*float:left;*/
}

.sto-__PLACEHOLDER__-container[data-size="5"][data-count="6"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="5"][data-count="5"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="5"][data-count="4"] .sto-__PLACEHOLDER__-design_right {
  background-image: __DESIGN_RIGHT_IMG__;
  float: right;
}

.sto-__PLACEHOLDER__-container[data-size="5"][data-count="1"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="5"][data-count="2"] .sto-__PLACEHOLDER__-design_right,
.sto-__PLACEHOLDER__-container[data-size="5"][data-count="3"] .sto-__PLACEHOLDER__-design_right {
  background-image: __DESIGN_RIGHT_IMG__;
  float: right;
}

.sto-__PLACEHOLDER__-container[data-size="5"] div.sto-__PLACEHOLDER__-carrousel {}

.sto-__PLACEHOLDER__-container[data-size="5"][data-count="1"] .sto-__PLACEHOLDER__-carrousel {
  width: 384px !important;
  padding: 0 !important;
}

.sto-__PLACEHOLDER__-container[data-size="5"][data-count="1"] .sto-__PLACEHOLDER__-button {
  display: none !important;
}

/**** BUTTONS ****/


/**** FORMAT ****/

.sto-__PLACEHOLDER__-container {
  background-image: -moz-linear-gradient(left, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-image: -webkit-gradient(left top, right top, color-stop(0%, __BG_CONTAINER_COLOR_LEFT__), color-stop(50%, __BG_CONTAINER_COLOR_LEFT__), color-stop(50%, __BG_CONTAINER_COLOR_RIGHT__), color-stop(100%, __BG_CONTAINER_COLOR_RIGHT__));
  background-image: -webkit-linear-gradient(left, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-image: -o-linear-gradient(left, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-image: -ms-linear-gradient(left, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-image: linear-gradient(to right, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-position: center center;
  background-repeat: no-repeat;
}

/*.sto-__PLACEHOLDER__-container[format="SR"], .sto-__PLACEHOLDER__-container[format="IM"] {
  border-top: 1px solid #d2d2d2;
}*/

/*.sto-__PLACEHOLDER__-container[format="SE"] {
  border-bottom: 1px solid #d2d2d2;
}*/

.sto-__PLACEHOLDER__-format {
  background-image: __BG_FORMAT_DSK_IMG__, -moz-linear-gradient(left, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-image: __BG_FORMAT_DSK_IMG__, -webkit-gradient(left top, right top, color-stop(0%, __BG_CONTAINER_COLOR_LEFT__), color-stop(50%, __BG_CONTAINER_COLOR_LEFT__), color-stop(50%, __BG_CONTAINER_COLOR_RIGHT__), color-stop(100%, __BG_CONTAINER_COLOR_RIGHT__));
  background-image: __BG_FORMAT_DSK_IMG__, -webkit-linear-gradient(left, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-image: __BG_FORMAT_DSK_IMG__, -o-linear-gradient(left, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-image: __BG_FORMAT_DSK_IMG__, -ms-linear-gradient(left, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-image: __BG_FORMAT_DSK_IMG__, linear-gradient(to right, __BG_CONTAINER_COLOR_LEFT__ 0%, __BG_CONTAINER_COLOR_LEFT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 50%, __BG_CONTAINER_COLOR_RIGHT__ 100%);
  background-position: center center;
  background-repeat: no-repeat;
}

.sto-__PLACEHOLDER__-main_product {
  background-image: __MAINPROD_IMG__;
}

.sto-__PLACEHOLDER__-arrows {
  background-image: __ARROW_LEFT_IMG__;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-__PLACEHOLDER__-arrows:hover {
  background-image: __ARROW_LEFT_HOVER_IMG__;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-__PLACEHOLDER__-logo {
  background-image: __LOGO_IMG__;
}

/*.sto-__PLACEHOLDER__-logo[data-ind="0"] {
    background-image: __LOGO_IMG_01__;
}

.sto-__PLACEHOLDER__-logo[data-ind="1"] {
    background-image: __LOGO_IMG_02__;
}

.sto-__PLACEHOLDER__-logo[data-ind="2"] {
    background-image: __LOGO_IMG_03__;
}

.sto-__PLACEHOLDER__-logo[data-ind="3"] {
    background-image: __LOGO_IMG_04__;
}

.sto-__PLACEHOLDER__-logo[data-ind="4"] {
    background-image: __LOGO_IMG_05__;
}*/

.sto-__PLACEHOLDER__-container[data-ind="0"] .sto-__PLACEHOLDER__-format {
  background-image: __BG_IMG_01__;
}

.sto-__PLACEHOLDER__-container[data-ind="1"] .sto-__PLACEHOLDER__-format {
  background-image: __BG_IMG_02__;
}

.sto-__PLACEHOLDER__-container[data-ind="2"] .sto-__PLACEHOLDER__-format {
  background-image: __BG_IMG_03__;
}

.sto-__PLACEHOLDER__-container[data-ind="3"] .sto-__PLACEHOLDER__-format {
  background-image: __BG_IMG_04__;
}

.sto-__PLACEHOLDER__-container[data-ind="4"] .sto-__PLACEHOLDER__-format {
  background-image: __BG_IMG_05__;
}

.sto-__PLACEHOLDER__-container button.sto-__PLACEHOLDER__-button {
  background-color: __BUTTON_BG_NORMAL_COLOR__ !important;
  background-image: __BUTTON_BG_NORMAL_IMG__ !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: __BUTTON_TXT_NORMAL_COLOR__ !important;
  font-weight: bold;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

.sto-__PLACEHOLDER__-container button.sto-__PLACEHOLDER__-button span {
  color: __BUTTON_TXT_NORMAL_COLOR__ !important;
}

.sto-__PLACEHOLDER__-container button.sto-__PLACEHOLDER__-button:hover,
.sto-__PLACEHOLDER__-container button.sto-__PLACEHOLDER__-button-current {
  background-color: __BUTTON_BG_HOVER_COLOR__ !important;
  background-image: __BUTTON_BG_HOVER_IMG__ !important;
  color: __BUTTON_TXT_HOVER_COLOR__ !important;
}

.sto-__PLACEHOLDER__-container button.sto-__PLACEHOLDER__-button:hover span,
.sto-__PLACEHOLDER__-container button.sto-__PLACEHOLDER__-button-current span {
  color: __BUTTON_TXT_HOVER_COLOR__ !important;
}

.sto-video {
  position: fixed;
  background-color: whitesmoke;
  min-height: 200px;
  min-width: 200px;
  top: 250px;
  margin-left: 50%;
  z-index: 102;
  padding: 40px 10px 20px 10px;
  /*border-radius: 10px;*/
}

.sto-ecran {
  position: fixed;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  opacity: 0.6;
}

.sto-close {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 4px;
  top: 4px;
  background-image: url("./../../img/close.png");
  cursor: pointer;
}

.sto-close:hover {
  /*background-image: url("./../../img/close_hover.png");*/
}

.checkoutPreviousHeader {
  margin-bottom: 10px;
}




/*.......................................................................................................................................
//.PPPPPPPPP...PRRRRRRRRR.....OOOOOOO.....ODDDDDDDD....DUUU...UUUU....CCCCCCC....CTTTTTTTTTT.....BBBBBBBBBB.....OOOOOOO....OXXXX..XXXXX..
//.PPPPPPPPPP..PRRRRRRRRRR...OOOOOOOOOO...ODDDDDDDDD...DUUU...UUUU...CCCCCCCCC...CTTTTTTTTTT.....BBBBBBBBBBB...OOOOOOOOOO...XXXX..XXXX...
//.PPPPPPPPPPP.PRRRRRRRRRR..ROOOOOOOOOOO..ODDDDDDDDDD..DUUU...UUUU..UCCCCCCCCCC..CTTTTTTTTTT.....BBBBBBBBBBB..OOOOOOOOOOOO..XXXXXXXXXX...
//.PPPP...PPPP.PRRR...RRRRR.ROOOO..OOOOO..ODDD...DDDD..DUUU...UUUU..UCCC...CCCCC....TTTT.........BBBB...BBBB..OOOOO..OOOOO...XXXXXXXX....
//.PPPP...PPPP.PRRR...RRRRRRROOO....OOOOO.ODDD....DDDD.DUUU...UUUU.UUCC.....CCC.....TTTT.........BBBB...BBBB.BOOOO....OOOOO...XXXXXX.....
//.PPPPPPPPPPP.PRRRRRRRRRR.RROO......OOOO.ODDD....DDDD.DUUU...UUUU.UUCC.............TTTT.........BBBBBBBBBBB.BOOO......OOOO...XXXXXX.....
//.PPPPPPPPPP..PRRRRRRRRRR.RROO......OOOO.ODDD....DDDD.DUUU...UUUU.UUCC.............TTTT.........BBBBBBBBBB..BOOO......OOOO...XXXXX......
//.PPPPPPPPP...PRRRRRRR....RROO......OOOO.ODDD....DDDD.DUUU...UUUU.UUCC.............TTTT.........BBBBBBBBBBB.BOOO......OOOO...XXXXXX.....
//.PPPP........PRRR.RRRR...RROOO....OOOOO.ODDD....DDDD.DUUU...UUUU.UUCC.....CCC.....TTTT.........BBBB....BBBBBOOOO....OOOOO..XXXXXXXX....
//.PPPP........PRRR..RRRR...ROOOO..OOOOO..ODDD...DDDDD.DUUU...UUUU..UCCC...CCCCC....TTTT.........BBBB....BBBB.OOOOO..OOOOO...XXXXXXXX....
//.PPPP........PRRR..RRRRR..ROOOOOOOOOOO..ODDDDDDDDDD..DUUUUUUUUUU..UCCCCCCCCCC.....TTTT.........BBBBBBBBBBBB.OOOOOOOOOOOO..XXXX.XXXXX...
//.PPPP........PRRR...RRRRR..OOOOOOOOOO...ODDDDDDDDD....UUUUUUUUU....CCCCCCCCCC.....TTTT.........BBBBBBBBBBB...OOOOOOOOOO..OXXXX..XXXXX..
//.PPPP........PRRR....RRRR....OOOOOO.....ODDDDDDDD......UUUUUUU......CCCCCCC.......TTTT.........BBBBBBBBBB......OOOOOO....OXXX....XXXX..
//.....................................................................................................................................*/


.sto-__PLACEHOLDER__-container .sto-product-container {
  height: 100%
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem {

}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>h2 {
  width: 25%;
  margin-left: 20px;
  float: left;
  margin-top: 15px;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>h2 .thumb>img {
  width: 100%;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>h2 .thumb>.icons-vertical-right{
  position: absolute;
  top: 0;
  left: 0;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>h2 .thumb>.icons-vertical-right>img {
  width: 100%;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.productMainLink {
  width: 60%;
  float: right;
  text-align: left;
  margin-top: 2px;
  padding-right: 20px;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.productMainLink>.details {
  min-height: 28.8px;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.productMainLink>.details>.productName {
  width: 100%;
  height: auto;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.productMainLink>.details>.productName>span {
  font-size: 0.8rem;
  color: #009656;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.productMainLink>.details>.marca {

}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.productMainLink>.marca>span {
  color: #009656;
  font-family: "OpenSans-bold",Arial,Helvetica,sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 15px;
  margin-bottom: 0px;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart  {
  margin-top: 5px;
  width: 60%;
  padding-right: 20px;
  float: right;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .precioFila  {
  width: 40%;
  float: left;
  margin-right: 25px;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .precioFila .priceContainer  {
  width: 100%;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .productPrice  {
  top: -6px;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .price  {
  margin-top: 8px;
  width: 100%;
  border: 1px solid #e30513;
  border-radius: 0;
  color: #e30513;
  float: left;
  font-family: "OpenSans-bold",Arial,Helvetica,sans-serif;
  font-size: 1.286rem;
  line-height: 0.6;
  padding: 9px 5px 2px;
  text-align: center;
  height: 17px;
  padding-top: 12px !important;
  height: 2.337rem;
  line-height: 13px;
  padding-left: 2px;
  padding-right: 2px;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .favouriteIconContent  {
  margin-top: -18px;
  float: left;
  width: 47%;
  height: 35px;
  position: relative;
  z-index: 1;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .favouriteIconContent .favoriteContainer  {
  top: 0px;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .add  {
  width: 45%;
  height: 47px;
  float: left;
  margin-top: -8px;
  position: relative;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .add .updateQuantityProductLess {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .add input[type="text"].qty {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .add .updateQuantityProductMore {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(0%);
  margin: 0!important;
}

.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .add .addQuantityProduct  {
  width: 100%;
  font-size: 10px;
  margin: 0px;
}




/*............................................................
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDD...IIIII....AAAAA.....
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDDD..IIIII....AAAAA.....
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDDDD.IIIII...AAAAAA.....
//.MMMMMMM.MMMMMMM.EEEE........DDDD...DDDD.IIIII...AAAAAAA....
//.MMMMMMM.MMMMMMM.EEEE........DDDD....DDDDIIIII..AAAAAAAA....
//.MMMMMMM.MMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII..AAAAAAAA....
//.MMMMMMMMMMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII..AAAA.AAAA...
//.MMMMMMMMMMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII.AAAAAAAAAA...
//.MMMMMMMMMMMMMMM.EEEE........DDDD....DDDDIIIII.AAAAAAAAAAA..
//.MMMM.MMMMM.MMMM.EEEE........DDDD...DDDDDIIIII.AAAAAAAAAAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDDDD.IIIIIAAAA....AAAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDDD..IIIIIAAAA.....AAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDD...IIIIIAAAA.....AAA..
//..........................................................*/



@media screen and (max-width:1189px) {
  .sto-__PLACEHOLDER__-container {
    width: 100%;
  }

  /*.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .favouriteIconContent  {
    position: relative !important;
    width: 45%;
    height: auto;
    margin-top: -18px;
  }*/

  .sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .favouriteIconContent .favoriteContainer  {
    position: relative !important;
    top: 0px;
  }

  /*.sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .add  {
    margin-top: -2px;
  }*/
}

/* @media screen and (max-width:959px) {
  .sto-__PLACEHOLDER__-format {
    display: block;
  }
  .sto-__PLACEHOLDER__-design_left {
    display: block !important;
  }
} */

/************        MOBILE        *************/

/* @media screen and (max-width:719px) {
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-container {
    width: calc(100% - 3% - 2px);
    margin: 0 1.5% !important;
  }
  .sto-__PLACEHOLDER__-container[format="IM"] {
    display: none !important;
  }
} */

@media screen and (max-width:719px) {
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] {
    height: auto !important;
    width: 100%;
    /* margin: 0 !important;
    margin-bottom: 5px !important; */
    box-sizing: border-box;
  }
  .sto-__PLACEHOLDER__-container[format="CH"][data-size="1"][version="mobile"] {
    height: auto !important;
    width: 100%;
    margin: 0 auto 20px auto !important;
    min-width: 250px;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-format {
    height: auto !important;
    background-image: __BG_FORMAT_MOB_IMG__;
    background-color:__BG_CONTAINER_COLOR_LEFT__!important;
    background-position: top left;
    background-size: contain;
    /* background-size: 100% auto; */
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] div.sto-__PLACEHOLDER__-logo {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 37%;
    min-width: 0;
    height: 35%;
    background-size: contain;
    background-image: __LOGO_IMG_MOB__;
    background-position: center;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"][data-count="1"] .sto-__PLACEHOLDER__-logo {
    left: 50%;
    transform: translateX(-50%);
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-carrousel {
    width: 100% !important;
    height: auto;
    background-image: none;
    /*margin-top: 25% !important;*/
    position: relative;
    background-color: #fff;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-main_product {
    width: 100% !important;
    background-image: none;
    padding: 20px 0px;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-arrows {
    display: none !important;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons {
    display: inline-block !important;
    position: absolute;
    top: 0px;
    right: 0;
    width: 60%;
    height: 35%;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-button {
    display: inline-block !important;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons button {
    width: calc(50% - 15px) !important;
    height: calc(50% - 15px);
    position: absolute;
    margin: 0;
    padding: 5px!important;
    background-size: cover;
    background-image: none !important;
    border: 0;
    max-width: none!important;
    line-height: 1.1;
    font-size: 3vw;
    font-weight: normal;
    min-height: 30px;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons button:nth-child(1) {
    top: 50%;
    left: 50%;
    /*transform: translate(calc(-100% - 5px), calc(-100% - 5px));*/
    transform: translateX(-100%) translateX(-5px) translateY(-100%) translateY(-5px); /* IE compatibility*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons button:nth-child(2) {
    top: 50%;
    left: 50%;
    /*transform: translate(calc(-100% - 5px), calc(0% + 5px));*/
    transform: translateX(-100%) translateX(-5px) translateY(0%) translateY(5px); /* IE compatibility*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons button:nth-child(3) {
    top: 50%;
    left: 50%;
    /*transform: translate(calc(0% + 5px), calc(-100% - 5px));*/
    transform: translateX(0%) translateX(5px) translateY(-100%) translateY(-5px); /* IE compatibility*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons button:nth-child(4) {
    top: 50%;
    left: 50%;
    /*transform: translate(calc(0% + 5px), calc(0% + 5px));*/
    transform: translateX(0%) translateX(5px) translateY(0%) translateY(5px); /* IE compatibility*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons[size-product="5"] button:nth-child(5) {
    top: 10%;
    right: 20px;
    display: none;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons[size-product="2"] button:nth-child(1) {
    /*transform: translate(calc(-100% - 5px),-50%);*/
    transform: translateX(-100%) translateX(-5px) translateY(-50%); /* IE compatibility*/
    /*width: 55% !important;*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons[size-product="2"] button:nth-child(2) {
    /*transform: translate(calc(0% + 5px),-50%);*/
    transform: translateX(0%) translateX(5px) translateY(-50%); /* IE compatibility*/
    /*width: 55% !important;*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons[size-product="1"] {
    display: none !important;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-main_product {
    height: auto;
    min-height: 155px;
    box-sizing: border-box;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-product-container {
    width: 100% !important;
    /*position: relative;*/
    height: auto;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-product-container>* {
    width: 100% !important;
    max-width: 450px;
    margin-right: 0 !important;
    margin: 0 auto !important;
    float: none;
  }
  .sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.productMainLink {
    width: 55% !important;
  }
  .sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart {
    width: 55% !important;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .promocionBOGOFGrid>.productPrice,
  .sto-__PLACEHOLDER__-container .sto-product-container .promocionPorcentualGrid>.productPrice {
    top: -7px;
  }


  /*box*/

  .sto-__PLACEHOLDER__-container .sto-product-container {
    height: 100%
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item {
    width: 100%;
    height: 100%;
    /* padding: 20px 20px 60px 20px; */
    /* margin-right: -1px;
    margin-bottom: -1px; */
    position: relative;
    box-sizing: border-box;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item .image {
    width: 25%;
    float: left;
    height: 100%;
    margin-left: 10px;
    display: flex;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item .text-inner {
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item .text-inner>.name-product {
    font-weight: 600;
    font-size: 1.1em;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item .text-inner>.name-product>a {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item .text-inner>.product-info .name-formato {
    font-size: .93em;
    font-weight: 600;
    line-height: 1.4em;
    display: inline-block;
    padding-right: 0;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item .text-inner>.product-info .desc-product {
    font-size: .929em;
    font-weight: 400;
    line-height: 1.7em;
    display: inline-block;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item .text-inner>.product-info .desc-product::before {
    content: "|";
    padding: 0 5px;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item .pre-bottom-inner {
    float: right;
    margin-top: -5px;
    margin-right: 25px;
    display: none;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .item .bottom-inner {
    position: relative;
    padding: 10px 17px 0 17px;
    right: auto;
    bottom: auto;
  }


  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-product-container .productGridItem>.cart .add .addQuantityProduct {
    padding: 0!important;
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart {
    /*margin-top: 10px;*/
  }

  .sto-__PLACEHOLDER__-container .sto-product-container .productGridItem>.cart .productPrice {
    /*top: -15px;*/
  }
}

@media(max-width:375px){
  .sto-banner-button_SR-container[data-size="1"][version="mobile"] .sto-banner-button_SR-buttons {
    width: 70%;
  }
  .sto-banner-button_SR-container[data-size="1"][version="mobile"] .sto-banner-button_SR-buttons button {
    min-height: 27px;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons button:nth-child(1) {
    transform: translateX(-100%) translateX(-5px) translateY(-100%) translateY(-3px); /* IE compatibility*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons button:nth-child(2) {
    transform: translateX(-100%) translateX(-5px) translateY(0%) translateY(3px); /* IE compatibility*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons button:nth-child(3) {
    transform: translateX(0%) translateX(5px) translateY(-100%) translateY(-3px); /* IE compatibility*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-__PLACEHOLDER__-buttons button:nth-child(4) {
    transform: translateX(0%) translateX(5px) translateY(0%) translateY(3px); /* IE compatibility*/
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-product-container .productGridItem>.cart{
    float:right!important;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-product-container .productGridItem>.cart .favouriteIconContent{
    float: right;
    width: auto;
  }
  .sto-__PLACEHOLDER__-container[data-size="1"][version="mobile"] .sto-product-container .productGridItem>.cart .precioFila{
    margin-right: 13%;
  }
}
